@font-face {
    font-family: 'edunline';
  src: url(./edunline.woff) format('woff');
    
}
@import url("https://use.typekit.net/qwc7ixp.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-weight: 700;
    font-size: 4vmax;
}
.sp_font, .sp_font2{
    font-family: "edunline";
    font-size: 2vmax;
}

.sp_font{
    font-size: 5vmax;
}

main > section::after{
    font-family: "edunline";
}